.element {
    display: inline-block;
    min-width: 5px;
    min-height: 5px;
    margin: 0.5px;
}

.element.active {
    background-color: #008060;
}

.element.inactive {
    background-color: #c6c6c6;
}
